*.py[co]
tmp
/fakepc-[0-9].[0-9].[0-9]
/fdict-*
/flook-*
/futile
/libfdf
/libgridxc
/libgridxc-mpi
/libpsml-*
/libxc
/psolver-[0-9].[0-9].[0-9]
/pspio
/scotch_[0-9].[0-9].[0-9]
/superlu_dist-[0-9].[0-9].[0-9]
/xmlf90-*
/yaml-*
