*.py[co]
*.tmp
__pycache__
/tmp*
/checkouts/*
/tarballs/*

# Local source tarballs, to be kept until upstream repositories are made
# available
!/tarballs/elsi*.tar.gz
!/tarballs/fakepc-*.tar.gz
!/tarballs/futile-*.tar.gz
!/tarballs/psolver-*.tar.gz
!/tarballs/scotch-*.tar.gz
!/tarballs/superlu_dist-*.tar.gz
