# Global arguments

makeargs="VERBOSE=1"


# Specific configure arguments for each module

module_cmakeargs['superlu_dist'] = "-DCMAKE_C_FLAGS='-std=c99'"

module_cmakeargs['elsi'] = "-DCMAKE_Fortran_COMPILER=gfortran -DCMAKE_C_COMPILER=gcc -DCMAKE_CXX_COMPILER=g++ -DCMAKE_CXX_FLAGS='-std=c++11'"
