# Global arguments

makeargs="VERBOSE=1"


# Specific configure arguments for each module

module_autogenargs['libgridxc']="F77=gfortran FC=gfortran"

module_cmakeargs['superlu_dist'] = "-DCMAKE_C_FLAGS='-std=c99'"

module_makeargs['elsi'] = "MPIFC=mpifort MPICC=mpicc MPICXX=mpicxx CXXFLAGS='-std=c++11'"
