# Global arguments

autogenargs="F77=gfortran FC=mpif90 CC=mpicc CXX=mpicxx MPIFC=mpif90 MPICC=mpicc MPIF90=mpif90"
makeargs="F77=gfortran FC=mpif90 CC=mpicc CXX=mpicxx MPIFC=mpif90 MPICC=mpicc MPIF90=mpif90 VERBOSE=1"

# Specific configure arguments for each module

module_autogenargs['futile']=autogenargs+" --with-scalapack=scalapack --with-blacs=blacs"
module_autogenargs['psolver']=autogenargs+" --with-scalapack=scalapack --with-blacs=blacs"
module_autogenargs['fdf']=" FC=gfortran"
module_autogenargs['libxc']=" FC=gfortran CC=gcc"
module_autogenargs['libgridxc']=" FC=gfortran CC=gcc"

module_cmakeargs['superlu_dist'] = "-DCMAKE_C_FLAGS='-std=c99'"

module_makeargs['elsi'] = "MPIFC=mpifort MPICC=mpicc MPICXX=mpicxx CXXFLAGS='-std=c++11'"
