# Global arguments

autogenargs="F77=mpif90 FC=mpif90 CC=mpicc CXX=mpicxx MPIFC=mpif90 MPICC=mpicc MPIF90=mpif90"
makeargs="F77=mpif90 FC=mpif90 CC=mpicc CXX=mpicxx MPIFC=mpif90 MPICC=mpicc MPIF90=mpif90 VERBOSE=1"

# Specific configure arguments for each module

module_autogenargs['fakepc']="linalg='-lscalapack -lblacs -llapack -lblas'"

module_autogenargs['futile']=autogenargs+" --with-scalapack=scalapack --with-blacs=blacs"
module_autogenargs['psolver']=autogenargs+" --with-scalapack=scalapack --with-blacs=blacs"
module_autogenargs['fdf']=" FC=gfortran"
module_autogenargs['libgridxc'] = "F77=mpif90"

module_cmakeargs['superlu_dist'] = "-DCMAKE_C_FLAGS='-std=c99'"
module_autogenargs['elpa-mpi']=autogenargs+" CFLAGS='-march=native'"
module_cmakeargs['elsi'] = "-DCMAKE_Fortran_COMPILER=mpifort -DCMAKE_C_COMPILER=mpicc -DCMAKE_CXX_COMPILER=mpicxx -DCMAKE_CXX_FLAGS='-std=c++11'"
