# Global arguments

makeargs="VERBOSE=1"

# Specific configure arguments for each module

module_autogenargs['elpa']=" CFLAGS='-march=native' FCFLAGS='-ffree-line-length-none' "
module_autogenargs['xmlf90']="FCFLAGS='-ffree-line-length-none'"
module_cmakeargs['NTPoly'] = "-DCMAKE_Fortran_FLAGS_RELEASE='-O3 -march=native'"
